.video {
  position: relative;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  background-color: white;
}

.video__player {
  background-color: black;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.video__player:focus {
  outline: none;
}
